@tailwind base;
@tailwind components;
@tailwind utilities;

.App {
  text-align: left; /* Change this */
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

html,
body {
  height: 100%;
  margin: 0;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.border {
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 8px;
}

.App-header {
  background-color: black;
  min-height: 100vh;
  min-width: 100vw;
  display: flex;
  justify-content: flex-start;
  font-size: calc(10px + 2vmin);
  color: white;
  overflow: hidden;
}

.App-link {
  color: #61dafb;
}

/* Additional styles for the StarForce component */
.input-group {
  margin-bottom: 15px; /* Add spacing between input groups */
}

.input-group label {
  display: block;
  margin-bottom: 5px;
  font-size: 16px;
}

.input-group input {
  background-color: #333;
  color: white;
}

.input-group input::placeholder {
  color: #aaa;
}

.button {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #61dafb;
  color: black;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.button:hover {
  background-color: #21a1f1;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.flex > * {
  min-width: 0;
}